body{
    margin: 0 auto;
}

.logo{
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
}
.title{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Helvetica';
    font-size: 46px;

}
.list{
    margin: 0 auto;
    width: 100%;
    background: rgb(107, 105, 216);
    line-height: 45px;
    text-align:center;
}
.list li{
    list-style: none;
    display:inline-block;
    text-align:center;
    padding-left: 20px;
    padding-right: 20px;

}
.list li a{
    display:inline-block;
    width: 120px;
    text-decoration: none;
    border: 1px solid transparent;
    font-size: 20px;
    color: white;
}
.list li a:hover{
    border: 1px solid;
}

.left{
    display: inline-block;
    width: 33%;
}

main{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

a.bmw{
    font-family: 'Helvetica';
    margin: 0 auto;
    font-size: 24px;
    color: black;
}

a.bmw:hover{
   background-color: rgb(107, 105, 216);
}

.center{
    display: inline-block;
    width: 33%;
}

.right{
    vertical-align: top;
    display: inline-block;
    width: 33%;
}

p{
    font-family: 'Helvetica';
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
}

footer{
    width: 60%;
    margin: 0 auto;
    height: 24px;
    text-align: center;
    background: rgb(107, 105, 216);
    color: white;
}